egp-core-ejb/src/main/resources/wsdl/LegacyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://legacy.egp.com/services"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://legacy.egp.com/services"
             elementFormDefault="qualified">

    <!-- Legacy SOAP Web Service Definition for EGP External Integration -->
    
    <types>
        <xsd:schema targetNamespace="http://legacy.egp.com/services">
            
            <!-- Customer Data Type -->
            <xsd:complexType name="CustomerInfo">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:long"/>
                    <xsd:element name="customerNumber" type="xsd:string"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- Case Data Type -->
            <xsd:complexType name="CaseInfo">
                <xsd:sequence>
                    <xsd:element name="caseId" type="xsd:long"/>
                    <xsd:element name="caseNumber" type="xsd:string"/>
                    <xsd:element name="customerId" type="xsd:long"/>
                    <xsd:element name="caseType" type="xsd:string"/>
                    <xsd:element name="priority" type="xsd:string"/>
                    <xsd:element name="status" type="xsd:string"/>
                    <xsd:element name="subject" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="createdDate" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- Service Response Type -->
            <xsd:complexType name="ServiceResponse">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- Request/Response Elements -->
            <xsd:element name="getCustomerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getCustomerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customer" type="tns:CustomerInfo" minOccurs="0"/>
                        <xsd:element name="response" type="tns:ServiceResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="createCaseRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerNumber" type="xsd:string"/>
                        <xsd:element name="caseType" type="xsd:string"/>
                        <xsd:element name="priority" type="xsd:string"/>
                        <xsd:element name="subject" type="xsd:string"/>
                        <xsd:element name="description" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="createCaseResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="caseNumber" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="response" type="tns:ServiceResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getCaseStatusRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="caseNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getCaseStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="case" type="tns:CaseInfo" minOccurs="0"/>
                        <xsd:element name="response" type="tns:ServiceResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </types>

    <!-- Port Type Definition -->
    <portType name="LegacyServicePortType">
        
        <operation name="getCustomer">
            <documentation>Retrieve customer information by customer number</documentation>
            <input message="tns:getCustomerRequest"/>
            <output message="tns:getCustomerResponse"/>
        </operation>
        
        <operation name="createCase">
            <documentation>Create a new case for a customer</documentation>
            <input message="tns:createCaseRequest"/>
            <output message="tns:createCaseResponse"/>
        </operation>
        
        <operation name="getCaseStatus">
            <documentation>Get current status of a case</documentation>
            <input message="tns:getCaseStatusRequest"/>
            <output message="tns:getCaseStatusResponse"/>
        </operation>
        
    </portType>

    <!-- Message Definitions -->
    <message name="getCustomerRequest">
        <part name="parameters" element="tns:getCustomerRequest"/>
    </message>
    
    <message name="getCustomerResponse">
        <part name="parameters" element="tns:getCustomerResponse"/>
    </message>
    
    <message name="createCaseRequest">
        <part name="parameters" element="tns:createCaseRequest"/>
    </message>
    
    <message name="createCaseResponse">
        <part name="parameters" element="tns:createCaseResponse"/>
    </message>
    
    <message name="getCaseStatusRequest">
        <part name="parameters" element="tns:getCaseStatusRequest"/>
    </message>
    
    <message name="getCaseStatusResponse">
        <part name="parameters" element="tns:getCaseStatusResponse"/>
    </message>

    <!-- Binding Definition -->
    <binding name="LegacyServiceBinding" type="tns:LegacyServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="getCustomer">
            <soap:operation soapAction="http://legacy.egp.com/services/getCustomer"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="createCase">
            <soap:operation soapAction="http://legacy.egp.com/services/createCase"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="getCaseStatus">
            <soap:operation soapAction="http://legacy.egp.com/services/getCaseStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        
    </binding>

    <!-- Service Definition -->
    <service name="LegacyService">
        <documentation>Legacy EGP Web Service for external system integration</documentation>
        <port name="LegacyServicePort" binding="tns:LegacyServiceBinding">
            <soap:address location="http://egp.internal.corp:8080/egp-services/LegacyService"/>
        </port>
    </service>

</definitions>